@import 'reboot.css';
@import 'root.css';
/*
.box-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-list__button {
  height: 8em;
  width: 8em;
  border: 0.2em solid black;
  background: transparent;
  margin-bottom: 1em;
}

.box-list__button--reversed {
  color: white;
  background-color: black;
}

.box-list__button:hover,
.box-list__button:active {
  border-style: inset;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  position: relative;
}

.heading::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.15em;
  width: calc(100% + 1em);
  height: 1em;
  background-color: black;
  z-index: -1;
}

.heading__title {
  margin-bottom: 0;
}

.heading__actions {
  display: flex;
  align-items: center;
}

.heading__action {
  background: black;
  border-radius: 0.5em;
  color: white;
  border: none;
  font-size: 0.8em;
  padding: 0.25em 0.5em;
  border: 1px solid white;
} */
