<form {{on "submit" (perform this.handleSubmit)}}>
  <fieldset>
    <label for={{nameId}}>Vessel name:</label>
    <Input id={{nameId}}
      @type="text"
      @value={{this.vesselName}}
      aria-describedby={{this.hasError}}
      {{on "input" this.inputChange}}
    />
    {{#if this.missingName}}
      <p id={{nameIdError}}>Your vessel needs a name</p>
    {{else if this.duplicateName}}
      <p id={{nameIdError}}>Your vessel name must be unique</p>
    {{/if}}
  </fieldset>

  <fieldset>
    <label for={{nicheId}}>Is this a niche vessel:</label>
    <Input id={{nicheId}} @type="text" @type="checkbox" @checked={{this.isNiche}} />
  </fieldset>

  <button type="button" {{on "click" (perform this.handleSubmit)}}>
    Edit vessel
  </button>
  <LinkTo @route='authenticated.home'>Home</LinkTo>
</form>