<nav>
  <LinkTo @route='authenticated.teas.new'>
    Add new tea
  </LinkTo>
  <LinkTo @route='authenticated.vessels.new'>
    Add new vessel
  </LinkTo>
  <button type="button" {{on "click" this.signOut}}>
    Sign out
  </button>
</nav>