{{#with (changeset this.vessel this.validations) as |changeset|}}
  <form {{on "submit" (fn this.handleSubmit changeset)}}>
    <ValidatedField
      @type="text"
      @property="name"
      @label="Vessel name:"
      @changeset={{changeset}}
    />

    <ValidatedField
      @type="checkbox"
      @property="vesselType"
      @label="Is this a niche vessel:"
      @changeset={{changeset}}
    />
    <button type="submit">Create new vessel</button>
  </form>
{{/with}}