{{#with (changeset this.tea this.validations) as |changeset|}}
  <form {{on "submit" (fn this.handleSubmit changeset)}}>
    <ValidatedField
      @type="text"
      @property="name"
      @label="Tea name:"
      @changeset={{changeset}}
    />

    <button type="submit">Create new tea</button>
  </form>
{{/with}}