<form {{on "submit" this.authenticate}}>
  <h2>Sign up</h2>
  {{#if this.errorMessage}}
    <p>{{this.errorMessage}}</p>
  {{/if}}

  <label for="sign-up-email">
    Email
  </label>
  <input id="sign-up-email" type="email" value={{this.email}} {{on "change" this.updateEmail}} />

  <label for="sign-up-password">
    Password
  </label>
  <input id="sign-up-password" type="password" value={{this.password}} {{on "change" this.updatePassword}} />

  <button>Sign up</button>
</form>