<label for={{this.inputId}}>{{@label}}</label>
{{#if (eq @type "checkbox")}}
  <input
    id={{this.inputId}} type={{@type}} checked={{this.changesetProperty}}
    {{!-- TODO add describedby --}}
    {{on "input" this.input}}
    {{on "blur" this.blur}}
  />
{{else}}
  <input
    id={{this.inputId}} type={{@type}} value={{this.changesetProperty}}
{{!-- TODO add aria-describedby --}}
    {{on "input" this.input}}
    {{on "blur" this.blur}}
  />
{{/if}}

{{#if (get @changeset.error @property)}}
  <ul>
    {{#each (get (get @changeset.error @property) "validation") as |message i|}}
      <li id="{{this.inputId}} {{i}}">{{message}}</li>
    {{/each}}
  </ul>
{{/if}}
