<h2>Vessels</h2>

{{#if @vessels.length}}
  <ul>
    {{#each @vessels as |vessel|}}
      <li>
        {{vessel.name}}
        {{#if vessel.serving}}
          <button type="button" {{on "click" (perform this.resteep vessel)}}>
            Resteep {{vessel.serving.tea.name}} ({{vessel.serving.steepings.length}})
          </button>
          <button type="button" {{on "click" (perform this.trashServing vessel)}} aria-label="Empty {{vessel.name}}">
            Empty
          </button>
        {{else}}
          {{#if @teas.length}}
            <button type="button" {{on "click" (fn this.pickTea vessel)}} aria-label="New tea in {{vessel.name}}">
              New tea
            </button>
          {{/if}}
          <LinkTo @route='authenticated.vessels.edit' @model={{vessel}} aria-label="Edit {{vessel.name}}">
            Edit
          </LinkTo>
          <button type="button" {{on "click" (perform this.decommissionVessel vessel)}}  aria-label="Decommission {{vessel.name}}">
            Decommission
          </button>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if this.showPickTeaFlow}}
  <Modals::PickTea
    @activeVessel={{this.activeVessel}}
    @teas={{@teas}}
    @close={{this.closeModals}}
  />
{{/if}}