<div>
  <p>Pick a tea for {{@activeVessel.name}}</p>
  <ul>
    {{#each @teas as |tea|}}
      <li>
        <button type="button" {{on "click" (perform this.createServing tea.id)}}>
          {{tea.name}}
        </button>
      </li>
    {{/each}}
  </ul>
  <button {{on "click" @close}}>
    Close
  </button>
</div>